
@import "variables";


.mercury, .neptune{
	animation: floating-fast 3s ease-in-out;
	animation-iteration-count: infinite;
}

.venus, .mars, .venus{
	animation: floating-slow 2s ease-in-out;
	animation-iteration-count: infinite;
}

.earth, .jupiter{
	animation: floating-reverse 2s ease-in-out;
	animation-iteration-count: infinite;
}


.uranus{
	animation: tilting-right 3s ease-in-out;
	animation-iteration-count: infinite;
}

.saturn{
	animation: tilting-left 3s ease-in-out;
	animation-iteration-count: infinite;
}


@keyframes floating-fast{
	0%{
		transform: translateY(0%);
	}

	50%{
		transform: translateY(-10%);
	}

	100%{
		transform: translateY(0%);
	}
}

@keyframes floating-slow{
	0%{
		transform: transalteY(0%);
	}

	20%{
		transform: transalteY(10%);
	}

	50%{
		transform: translateY(-2%);
		transform: transalteZ(5%);
	}

	100%{
		transform: transalteY(0%);
	}
}

@keyframes floating-reverse{
	0%{
		transform: transalteY(0%);
	}

	20%{
		transform: transalteY(-10%);
	}

	50%{
		transform: translateY(2%);
		transform: transalteZ(-5%);
	}

	100%{
		transform: transalteY(0%);
	}
}


@keyframes tilting-right{
	0%{
		transform: rotate(0deg);
	}

	50%{
		transform: rotate(45deg);
	}

	100%{
		transform: rotate(0deg);
	}
}

@keyframes tilting-left{
	0%{
		transform: rotate(0deg);
	}

	50%{
		transform: rotate(-20deg);
	}

	100%{
		transform: rotate(0deg);
	}
}










