
@import "variables";


.mercury{
	animation: mercury-small 4s ease-in-out;
	animation-iteration-count: infinite;
}

.neptune, .mars, .venus{
	animation: floating-fast 3s ease-in-out;
	animation-iteration-count: infinite;
}

.earth, .jupiter{
	animation: floating-reverse 2s ease-in-out;
	animation-iteration-count: infinite;
}

.uranus{
	animation: tilting-right 3s ease-in-out;
	animation-iteration-count: infinite;
}

.saturn{
	animation: tilting-left 3s ease-in-out;
	animation-iteration-count: infinite;
}


@keyframes mercury-small{
	0%{
		width: 50%;
	}

	20%{
		width: 40%;
	}

	30%{
		width: 60%;
	}

	70%{
		width: 60%;
	}

	100%{
		width: 50%;
	}
}


@keyframes floating-fast{
	0%{
		transform: translateY(0%);
	}

	50%{
		transform: translateY(-10%);
	}

	100%{
		transform: translateY(0%);
	}
}

@keyframes floating-reverse{
	0%{
		transform: transalteY(0%);
	}

	20%{
		transform: transalteY(-10%);
	}

	50%{
		transform: translateY(2%);
		transform: transalteZ(-5%);
	}

	100%{
		transform: transalteY(0%);
	}
}


@keyframes tilting-right{
	0%{
		transform: rotate(0deg);
	}

	50%{
		transform: rotate(45deg);
	}

	100%{
		transform: rotate(0deg);
	}
}

@keyframes tilting-left{
	0%{
		transform: rotate(0deg);
	}

	50%{
		transform: rotate(-20deg);
	}

	100%{
		transform: rotate(0deg);
	}
}










