
@import "variables";


// DEFAULT MOBILE SIZE
@media (min-width: 400px){
	
	// MOBILE
	.mobile-everything{
		display: block;
	}

	.status-bar{
		background-color: #FFFFFF;
		color: #1F1E1E;
	}

	.status-bar-container{
		max-width: 400px;
	}

	.status-bar-type{
		margin: 0 auto;
		margin-left: 0.5em;
	}

	.status-bar-time{
		margin: 0 auto;
		margin-left: 17%;
	}

	.status-bar-health{
		margin: 0 auto;
		margin-right: 0.5em;
	}

	.thumbnail-container{
		width: 90%;
		max-width: 400px;
		margin: 0 auto;
	}

	.thumbnail{
		width: 45%;

		&:first-child{
			margin-right: 5%;
		}
	}

	.dashboard-border{
		max-width: 420px;
		margin: 1em auto;
	}

	.dashboard-text{
		p{
			margin-top: 0.2em;
		}
	}

	.science{
		border: 8px solid $science-color;;
	}

	.history{
		border: 8px solid $history-color;
	}

	.math{
		border: 8px solid $math-color;
	}

	.english{
		border: 8px solid $english-color;
	}


	// PLANETS LESSON PAGE
	// ———————————————————————————————————
	
	.solar-system-1{
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}

	.planets-container{
		margin: 0 auto;
		margin-top: -1em;
		max-width: 400px;

		p{
			color: $text-color;
		}
	}

	.planet-row{
		margin: 1em auto 2em auto;
	}

	.lesson-border{
		padding: 0.5em;
	}

	.lesson-text{
		padding: 0.2em 0.8em;
	}

	.bottom-button-container{
		width: 90%;
		max-width: 400px;
	}

	.bottom-lesson-button{
		max-width: 190px;
	}

	.back-button{
		margin-left: 0;
		margin-right: 2.5%;
	}

	.continue-button{
		margin-left: 2.5%;
		margin-right: 0;
	}


	// YOU DID IT PAGE
	// ———————————————————————————————————
	
	.you-did-it{
		width: 100%;
	}

	.solar-system-badge{
		width: 80%;
		max-width: 288px;
		margin: 1em auto;
		display: block;
	}

	.complete-lesson-button{
		width: 80%;
		max-width: 380px;
		margin: 1em auto;
	}


	// BADGE COLLECTION PAGE
	// ———————————————————————————————————
	
	.ind-badge{
		width: 70%;
	}

	.badges-row{
		margin: 2em auto 3em auto;
	}

	.badge-row-title{
		width: 85%;
		font-size: 1.2em;
	}

	
	// TABLET
	.tablet-everything{
		display: none;
	}


	// DESKTOP
	.desktop-everything{
		display: none;
	}

}






// TABLET SIZE
@media(min-width: 590px){
	
	// MOBILE
	.mobile-everything{
		display: none;
	}


	// TABLET
	.tablet-everything{
		display: block;
	}

	.status-bar{
		background-color: #1F1E1E;
		color: #fff;
	}

	.status-bar-container{
		max-width: 700px;
	}

	.status-bar-type{
		margin: 0 auto;
		margin-left: 2em;
	}

	.status-bar-time{
		margin: 0 auto;
		margin-left: 39%;
	}

	.status-bar-health{
		margin: 0 auto;
		margin-right: 2em;
	}

	.logo{
		width: 30%;
	}

	.header-button{
		width: 38px;
		float: right;
		margin: 0 auto;
		padding: 0.2em 0;

		&:last-child{
			margin-left: 2em;
		}
	}

	.dashboard-border{
		width: 100%;
		margin-top: 2em;
		margin-left: 0;
		max-width: 500px;
	}

	.dashboard-text{
		p{
			margin: 0.3em 0 0 0;
		}
	}
	
	.thumbnail-container{
		max-width: 550px;
		margin: 0 auto;
	}

	.thumbnail{
		max-width: 210px;
	}

	.science{
		border: 12px solid $science-color;;
	}

	.history{
		border: 12px solid $history-color;
	}

	.math{
		border: 12px solid $math-color;
	}

	.english{
		border: 8px solid $english-color;
	}


	// PLANETS LESSON PAGE
	// ———————————————————————————————————
	
	.solar-system-1{
		background-size: 250%;
		-webkit-background-size: 250%;
		-moz-background-size: 250%;
		-o-background-size: 250%;
	}

	.planets-container{
		margin: 1em auto;
		max-width: 550px;
	}

	.planet-row{
		margin: 0.5em auto 3.5em auto;
	}

	.lesson-border{
		margin-top: -2em;
	}

	.bottom-button-container{
		width: 100%;
		max-width: 100%;
	}

	.bottom-lesson-button{
		max-width: 250px;
	}


	// YOU DID IT PAGE
	// ———————————————————————————————————

	.solar-system-badge{
		width: 200px;
		margin-left: 15%;
	}

	.complete-lesson-button{
		width: 200px;
		height: 40px;
		margin: 2em auto;
		float: left;

		p{
			margin-top: 0.5em;
		}
	}

	.astronaut-bg{
		padding-bottom: 1em;
		background-size: 150%;

		.paragraph{
			color: $text-color;
		}
	}

	.astronaut-popout{
		width: 490px;
		bottom: 0;
		right: -130px;
	}


	// BADGE COLLECTION PAGE
	// ———————————————————————————————————
	
	.ind-badge{
		width: 85%;
	}

	.badge-row-title{
		width: 100%;
		font-size: 1em;
	}


	// DESKTOP
	.desktop-everything{
		display: none;
	}
}





// DESKTOP SIZE
@media (min-width: 990px){

	// TABLET
	.tablet-everything{
		display: none;
	}


	// DESKTOP
	.desktop-everything{
		display: block;
	}

	.solar-system-everything{
		background-size: 100%;
		padding-bottom: 1em;
	}

	.logo{
		width: 20%;
	}

	.header-button{
		width: 50%;
		box-sizing: border-box;
		margin-right: 2em;

		&:last-child{
			margin-left: auto;
		}

		img{
			width: 30px;
			float: right;
			padding: 0.5em 0.8em;
		}

		p{
			color: #fff;
			float: right;
		}
	}

	.dashboard-border{
		width: 100%;
		margin: 2.2em 0 0 0;
		padding: 0.5em;
		max-width: 550px;
	}

	.dashboard-text{
		padding: 0.2em 0.8em;

		p{
			margin: 0.2em 0 0 0;
		}
	}

	.thumbnail-container{
		width: 100%;
		margin-top: 1.5em;
		margin-left: 0;
	}

	.thumbnail{
		width: 38%;
		max-width: 38%;
		margin-bottom: 0 5% 1.2em 5%;

		&:first-child{
			margin-right: 6%;
			margin-left: 6%;
		}
	}

	.thumbnail-title{
		margin: 0.5em auto 0.6em auto;
		font-size: 1em;
	}

	.science{
		border: 5px solid $science-color;;
	}

	.history{
		border: 5px solid $history-color;
	}

	.math{
		border: 5px solid $math-color;
	}

	.english{
		border: 5px solid $english-color;
	}

	.mini-science{
		border: 6px solid $science-color;;
	}

	.mini-history{
		border: 6px solid $history-color;
	}

	.mini-math{
		border: 6px solid $math-color;
	}

	.mini-english{
		border: 6px solid $english-color;
	}


	// PLANETS LESSON PAGE
	// ———————————————————————————————————
	
	.solar-system-1{
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}

	.planet-row{
		margin: 3em auto 6em auto;
		margin-left: -1.5em;
	}

	.lesson-border{
		margin-top: 2em;
		padding: 0.5em;
		width: 55%;
		margin: 0 2.5%;
		float: left;
	}

	.lesson-text{
		padding: 0.2em 0.8em;
	}

	.back-button{
		margin: 0;
	}

	.continue-button{
		margin: 0;
	}
	

	// YOU DID IT PAGE
	// ———————————————————————————————————

	.solar-system-badge{
		margin-left: 18%;
	}

	.astronaut-bg{
		padding-bottom: 4em;
		background-size: 110%;
	}

	.astronaut-popout{
		width: 590px;
		bottom: -160px;
		right: -180px;
	}


	// BADGE COLLECTION PAGE
	// ———————————————————————————————————
	
	.badges-row{
		max-width: 550px;
		margin: 2em 0 3em 0;
	}

}







