
@import "variables";


// DEFAULT MOBILE SIZE
@media (min-width: 400px){
	
	// MOBILE
	.mobile-everything{
		display: block;
	}

	.thumbnail-container{
		width: 90%;
		max-width: 400px;
		margin: 0 auto;
	}

	

	// TABLET
	.tablet-everything{
		display: none;
	}


	// DESKTOP
	.desktop-everything{
		display: none;
	}

}


// TABLET SIZE
@media(min-width: 590px){
	
	// MOBILE
	.mobile-everything{
		display: none;
	}

	.thumbnail-container{
		max-width: 900px;
	}



	// TABLET
	.tablet-everything{
		display: block;
	}


	// DESKTOP
	.desktop-everything{
		display: none;
	}
}


// DESKTOP SIZE
@media (min-width: 970px){

	// TABLET
	.tablet-everything{
		display: none;
	}


	// DESKTOP
	.desktop-everything{
		display: block;
	}

}




