

// DEFAULT MOBILE SIZE
@media (min-width: 400px){
	
	// MOBILE
	.mobile-everything{
		display: block;
	}

	.thumbnial-container{
		max-width: 400px;
	}

	

	// TABLET
	.tablet-everything{
		display: none;
	}

}


// START OF TABLET SIZE
@media(min-width: 590px){
	
	// MOBILE
	.mobile-everything{
		display: none;
	}

	.thumbnial-container{
		max-width: 900px;
	}



	// TABLET
	.tablet-everything{
		display: block;
	}

}





