
@import "variables";

.desktop-header-container{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

.desktop-container{
	width: 90%;
	max-width: 1000px;
	margin: 2em auto;
}

.desktop-left-container{
	width: 70%;
	float: left;
}

.desktop-nav{
	width: 25%;
	margin-left: 5%;
	box-sizing: border-box;
	padding: 0.5em;
	border: 2px solid $outline-color;
	float: left; 
}

.nav-button-container{
	margin: 1em auto;
	float: left;

	img{
		width: 35px;
		float: left;
	}

	p{
		margin: 0 auto;
		padding: 0.5em 0.5em 0 0.5em;
		float: left;
	}
}


