
@import "variables";


// DASHBOARD PAGE INFORMATIVE TEXT

.dashboard-border{
	@extend %border-outline;

	width: 90%;
}

.dashboard-text{
	@extend %paragrpah-bg;
}


// THUMBNAIL LESSONS

.thumbnail-container{
	overflow: hidden;
}

.thumbnail{
	margin-top: 1em;
	margin-bottom: 1em;
	box-sizing: border-box;
	float: left;
	border-radius: 15px;

	img{
		width: 100%;
		border-radius: 15px 15px 0 0;
	}
}

.thumbnail-title{
	margin: 0 auto;
	margin-top: 0.2em;
	text-align: center;
	color: white;
	font-family: 'Arimo', "Trebuchet MS", Helvetica, sans-serif;
	font-weight: 200;
}

.mini-thumbnail{

}

.science{
	background-color: $science-color;
}

.history{
	background-color: $history-color;
}

.math{
	background-color: $math-color;
}

.english{
	background-color: $english-color;
}


.desktop-left-container{
	width: 66%;
	float: left;
}

.desktop-nav{
	@extend %border-outline;

	width: 34%;
	margin: 2em 0 0 0;
	padding: 0.5em;
	float: left;
}

.nav-button-container{
	@extend %button-borders;

	margin: 1em auto;
	float: left;

	img{
		width: 35px;
		float: left;
	}

	p{
		margin: 0 auto;
		padding: 0.5em 0.5em 0 0.5em;
		float: left;
	}
}

.nav-badges-container, .nav-completed-container{
	width: 99%;
	margin: 0.5em auto;

	h2{
		margin-bottom: 1em;
	}
}

.nav-badges-container{
	margin-bottom: 6em;
}

.nav-list{
	width: 100%;
	margin: 0 auto;
	padding: 0.5em 0;
	border-top: 1px solid $header-color;
	border-bottom: 1px solid $header-color;
	overflow: hidden;

	img{
		width: 30%;
		float: left;
		margin-left: 3%;
	}

	.mini-thumbnail{
		box-sizing: border-box;
		border-radius: 10px;
	}
}


// DESKTOP DASHBOARD LESSONS

.desktop-list-container{
	width: 99%;
	margin-left: 0;
	overflow: hidden;
	position: relative;
}

.list-item-container{
	width: 100%;
	margin: 1em auto 2.5em auto;
}

.list-item{
	width: 90%;
	margin: 1em auto;
	margin-left: 0;
	padding: 2em 0.5em;
	position: relative;
}

.list-h3{
	width: 94%;
}

.list-science{
	background: url("../images/space-thumbnail.jpg") center center no-repeat;
	background-size: cover;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,$science-color,$text-color);
		opacity: .6; 
		z-index: 1;
	}
}

.list-history{
	background: url("../images/history-thumbnail.jpg") center center no-repeat;
	background-size: cover;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,$history-color,$text-color);
		opacity: .6; 
		z-index: 1;
	}
}

.list-math{
	background: url("../images/money-thumbnail.jpg") center center no-repeat;
	background-size: cover;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,$math-color,$text-color);
		opacity: .6; 
		z-index: 1;
	}
}

.list-item-title{
	font-size: 2em;
	margin: 0;
	color: #fff;
	position: absolute;
	top: 20%;
	z-index: 2;
}

.no-lessons-text{
	color: lighten($text-color, 10%);
}









