
@import "variables";

.mobile-header{
	height: 88px;
	border-bottom: 1px solid #999999;
}

.mobile-footer{
	width: 100%;
	height: 98px;
	position: fixed;
	bottom: 0;
	background-color: $constant-color;
}

.phone-container{
	overflow: scroll;
}

.status-bar{
	height: 40px;
	background-color: #FFFFFF;
}

.status-bar-time{
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	font-size: 0.9em;
	text-align: center;
	margin: 0 auto;
	padding-top: 0.8em;
}

.footer-container{
	width: 95%;
	max-width: 400px;
	margin: 0 auto;
}

.footer-icon{
	width: 34px;
	height: 34px;
	display: inline-block;
	float: left;
	margin: 1em 7.5%;
}


