
@import "variables";

.mobile-header{
	height: 88px;
	border-bottom: 1px solid #999999;
}

.phone-container{
	overflow: scroll;
}

.dashboard-border{
	width: 90%;
	box-sizing: border-box;
	border: 2px solid $outline-color;
}

.dashboard-text{
	width: 100%;
	box-sizing: border-box;
	background-color: $bg-color;
	line-height: 1.5;

	p{
		margin-top: 0.2em;
	}
}


.mobile-footer{
	width: 100%;
	height: 68px;
	position: fixed;
	bottom: 0;
	border-top: 2px solid $header-color;
}


.footer-container{
	width: 95%;
	max-width: 400px;
	margin: 0 auto;
}

.footer-icon{
	width: 40px;
	height: 40px;
	display: inline-block;
	float: left;
	margin: 0.5em 6.8%;
}


