
@import "variables";

// DASHBOARD / CONSTANTS

.mobile-header{
	height: 88px;
	border-bottom: 1px solid #999999;
}

.phone-container{
	overflow: scroll;
}

.mobile-footer{
	width: 100%;
	height: 68px;
	position: fixed;
	bottom: 0;
	border-top: 2px solid $header-color;
}


.footer-container{
	width: 95%;
	max-width: 400px;
	margin: 0 auto;
}

.footer-icon{
	width: 40px;
	height: 40px;
	display: inline-block;
	float: left;
	margin: 0.5em 6.8%;
}

// SOLAR SYSTEM PAGES

// planets all container
.planets-container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

// individual planet container 
.planet-row{
	width: 100%;
	height: 100px;
	margin: 0.5em auto;
	overflow: visible;
	position: relative;
}

.ind-planet-container-outer{
	width: 20%;
	margin: 1em 5%;
	float: left;

	p{
		margin: 0 auto;
		text-align: center;
	}
}

.ind-planet-container-inner{
	position: absolute;
	bottom: 0;
}

.ind-saturn{
	height: 100%;
}

// individual planet
.planet{
	margin: 0.5em auto;
}


.mercury{
	width: 35px;
}

.venus, .earth, .mars, .uranus, .neptune{
	width: 50px;
}

.jupiter{
	width: 70px;
}

.saturn{
	width: 80px;
}









