
@import "variables";


@media (min-width: 10px){

	.mercury{
		width: 15%;
	}

	.venus, .earth, .mars, .uranus, .neptune{
		width: 80%;
	}


	.jupiter{
		width: 100%;
	}

	.saturn{
		width: 95%;
	}

	.inner-jupiter{
		margin-left: -7px;
	}

	.inner-saturn{
		margin-left: -17px;
	}

	.inner-neptune{
		margin-left: -7px;
	}

}





@media(min-width: 590px){

	.mercury{
		width: 55px;
	}

	.venus, .earth, .mars, .uranus, .neptune{
		width: 70px;
	}


	.jupiter{
		width: 90px;
	}

	.saturn{
		width: 120px;
	}
	
	.inner-jupiter{
		margin-left: -7px;
	}

	.inner-saturn{
		margin-left: -17px;
	}

	.inner-neptune{
		margin-left: 1px;
	}

}





@media(min-width: 990px){

	.mercury{
		width: 75px;
	}

	.venus, .earth, .mars, .uranus, .neptune{
		width: 90px;
	}


	.jupiter{
		width: 120px;
	}

	.saturn{
		width: 150px;
	}
	
	.inner-jupiter{
		margin-left: -10px;
	}

	.inner-saturn{
		margin-left: -17px;
	}

	.inner-neptune{
		margin-left: 1px;
	}

}







