
@import "variables";


.lesson-border{
	@extend %border-outline;
}

.lesson-text{
	@extend %border-outline;

	width: 100%;
	line-height: 1.5;
	padding: 0.2em 0.8em;

	p{
		margin-top: 0.2em;
	}
}


.bottom-button-container{
	margin: 1em auto 0 auto;
	overflow: hidden;
}

.bottom-lesson-button{
	@extend %button-borders;

	width: 45%;
	margin: 0.2em auto;
}

.top-container{
	width: 99%;
	margin: 0 auto;
	overflow: hidden;
}

.top-lesson-button{
	@extend %button-borders;

	width: 20%;
}

.back-button{
	float: left;
}

.continue-button{
	float: right;
}



// planets all container
.planets-container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

// individual planet container 
.planet-row{
	width: 110%;
	height: 100px;
	overflow: visible;
	position: relative;
}

.ind-planet-container-outer{
	width: 10%;
	margin: 1em 10%;
	float: left;

	p{
		margin: 0 auto;
		text-align: center;
	}
}

.ind-planet-container-inner{
	position: absolute;
	bottom: 0;
}

// individual planet
.planet{
	margin: 0.5em auto;
}







