
@import "variables";

.tablet-nav{
	width: 30%;
	float: left;
	margin: 1.8em auto 0 auto;
}

.tablet-header{
	width: 100%;
	z-index: 0;
	position: relative;
}

.tablet-header-container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.button-container{
	width: 30%;
	float: right;
}

.header-button{
	width: 38px;
	margin: 0 auto;
	float: right;
	padding: 0.2em 0;

	&:last-child{
		margin-left: 2em;
	}
}

.dropdown-menu{
	z-index: 2;
	position: absolute;
	background-color: $header-color;
	width: 150px;
	padding: 0.5em;
	top: 8%;
	right: 0;

}

.dropdown-button{
	width: 38px;
}

.tablet-container{
	width: 100%;
	max-width: 750px;
	margin: 2em auto;
	overflow: hidden;

	h2{
		width: 70%;
		display: inline-block;
		margin: 0 auto;
		margin-left: 10px;
		float: left;
	}
}

.lessons-container{
	width: 70%;
	float: left;
	display: inline-block;
	overflow: hidden;
}



