
@import "variables";

.tablet-nav{
	width: 30%;
	float: left;
	margin: 0 auto;
}

.nav-button{
	width: 54px;
	margin: 0 auto;
	margin-bottom: 1em;
	top: 0;
}

.badges-icon{
	width: 58px;
	margin-left: -5px;
}

.completed-icon{
	width: 58px;
}



