
@import "variables";


.tablet-container{
	width: 90%;
	max-width: 550px;
	margin: 2em auto;
	overflow: hidden;

	h2{
		width: 70%;
		display: inline-block;
		margin: 0 auto;
		margin-left: 10px;
		float: left;
	}
}

.tablet-header{
	width: 100%;
	z-index: 0;
	position: relative;
}

.tablet-header-container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.dropdown-menu{
	z-index: 2;
	position: absolute;
	background-color: $header-color;
	width: 200px;
	padding: 0.5em;
	top: 8%;
	right: 0;
	display: none;

	p{
		color: #fff;
		float: left;
		margin: 0.4em 0 0 0.5em;
	}
}

.dropdown-button-container{
	overflow: hidden;
	margin: 1.7em 0 1em 0;
}

.dropdown-button{
	width: 30px;
	float: left;
}






