

$text-color: #444444;

$header-color: #F59F06;
$outline-color: #FBCC33;
$bg-color: #F0F0F0;

$science-color: #5C3AD8;
$history-color: #57CE6E;
$math-color: #1A92FF;
$english-color: #C94B6F;

%border-outline{
	box-sizing: border-box;
	border: 2px solid $outline-color;
	padding: 0.5em;
}

%border-outline-no-pad{
	@extend %border-outline;

	padding: 0;
}

%border-outline-science-color{
	@extend %border-outline;

	border: 2px solid $science-color;
	box-shadow: 3px 3px 5px darken($bg-color, 13%);
}

%button-borders{
	@extend %border-outline;

	background-color: #fff;
	color: $text-color;
	text-align: center;
	padding: 0 0.2em;
	height: 40px;
	
	p{
		margin: 0.5em auto;
	}
	
	&:hover{
		background-color: lighten($outline-color, 30%);
	}
}

%paragrpah-bg{
	width: 99%;
	margin: 0 auto;
	box-sizing: border-box;
	background-color: $bg-color;
	line-height: 1.5;
}

@media(min-width: 400px){
	%paragrpah-bg{
		padding: 0.2em 0.5em;
	}
}

@media(min-width: 590px){
	%paragrpah-bg{
		padding: 0.5em 0.7em;
	}
}




