
@import "variables";



$size: 36px;
$border-size: 2px;
$border-real-size: $size + ($border-size * 2);

.popdown-carrot{
	z-index: 3;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	width: (($size + $border-size) * 2);
	height: (($size + $border-size) * 2);

	&:after{
		position:absolute;
	    content:"";
	    top: 424px;
		left: 180px;

		border-left: $size solid transparent;
	    border-right: $size solid transparent;
	    border-bottom: ($size * 1.5) solid $bg-color;
	}

	> div{
		width: 0;
	    position: relative;
	    top: 417px;
	    left: 176.5px;
	    border-left: $border-real-size solid transparent;
	    border-right: $border-real-size solid transparent;
	    border-bottom: ($border-real-size * 1.5) solid $outline-color;
	}
}


.popside-carrot{
	z-index: 3;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	width: (($size + $border-size) * 2);
	height: (($size + $border-size) * 2);

	&:after{
		position:absolute;
	    content:"";
	    top: 480%;
		left: -109%;

		border-top: $size solid transparent;
	    border-bottom: $size solid transparent;
	    border-right: ($size * 1.5) solid $bg-color;
	}

	> div{
		width: 0;
	    position: relative;
	    top: 475%;
	    left: -118%;
	    border-top: $border-real-size solid transparent;
	    border-bottom: $border-real-size solid transparent;
	    border-right: ($border-real-size * 1.5) solid $outline-color;
	}
}




