

@import "breakpoints",
		"variables",
		"home-page",
		"solar-system-pages",
		"planet-breakpoints";



.mobile-everything, .tablet-everything, .desktop-everything{
	overflow: hidden;
}

body{
	color: $text-color;
	letter-spacing: 0.5px;
}

header{
	background-color: $header-color;
	overflow: hidden;
}

h1{
	margin: 0.7em auto;
	font-size: 1.3em;
	font-weight: 300;
	text-align: center;
	letter-spacing: 1px;
	font-family: 'Montserrat', "Trebuchet MS", Helvetica, sans-serif;
	color: #fff;
}

h2{
	margin: 0.2em auto 0 auto;
	font-family: 'Montserrat', "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.2em;
	color: $header-color;
}

h3{
	font-size: 0.8em;
	color: $header-color;
	text-align: right;
}


// STATUS BAR

.status-bar{
	height: 25px;
}

.status-bar-time{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 0.8em;
	font-weight: 300;
	text-align: center;
	margin: 0 auto;
	padding-top: 5px;
}



// HEADER BUTTONS & NAV
.button-container{
	width: 30%;
	float: right;
}




















