

@import "breakpoints",
		"variables",
		"home-page",
		"solar-system-pages",
		"planet-breakpoints",
		"you-did-it",
		"badges",
		"badge-popdown",
		"animations";


.mobile-everything, .tablet-everything, .desktop-everything{
	overflow: hidden;
}

.solar-system-1{
	background-image: url('../images/milky-way.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

.solar-system-1, .you-did-it-html{
	max-height: 100%;
	overflow: hidden;
}

.bold{
	font-weight: 700;
	letter-spacing: 0;
}

.italic{
	font-style: italic;
}

body{
	color: $text-color;
	letter-spacing: 0.5px;
}

header{
	background-color: $header-color;
	overflow: hidden;
	z-index: 2;
}

h1{
	margin: 0.7em auto;
	font-size: 1.3em;
	font-weight: 300;
	text-align: center;
	letter-spacing: 1px;
	font-family: 'Montserrat', "Trebuchet MS", Helvetica, sans-serif;
	color: #fff;
}

h2{
	margin: 0.2em auto 0 auto;
	font-family: 'Montserrat', "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.3em;
	color: $header-color;
}

h3{
	font-size: 1em;
	color: $header-color;
}

a{
	text-decoration: none;
}


// STATUS BAR

.status-bar{
	height: 25px;
}

.status-bar-container{
	width: 99%;
	margin: 0 auto;
}

.status-bar-type, .status-bar-time, .status-bar-health{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 0.8em;
	font-weight: 300;
	padding-top: 5px;
}

.status-bar-type{
	float: left;

	img{
		width: 58px;
	}
}

.status-bar-time{
	float: left;
}

.status-bar-health{
	float: right;

	img{
		width: 25px;
	}
}





// HEADER BUTTONS & NAV

.logo{
	display: inline-block;
	float: left;
	margin-top: 0.4em;

	img{
		width: 80%;
		box-sizing: border-box;
		padding: 0.01em;
		border: 1px solid #fff;

	}		
}

.button-container{
	width: 30%;
	float: right;
}


// ———————————————————————————————————————————————————————————

// MOBILE

.mobile-header{
	width: 100%;
	border-bottom: 1px solid #999999;
	position: fixed;
	top: 0;
}

.phone-container{
	margin: 4em auto 6em auto;
	max-width: 420px;
	max-height: 50%;
	overflow: scroll;
}

.mobile-footer{
	width: 100%;
	height: 68px;
	position: fixed;
	bottom: 0;
	border-top: 2px solid $header-color;
	background-color: #fff;
}


.footer-container{
	width: 95%;
	max-width: 400px;
	margin: 0 auto;
}

.footer-icon{
	width: 40px;
	height: 40px;
	display: inline-block;
	float: left;
	margin: 0.5em 6.8%;
}

// ———————————————————————————————————————————————————————————

// TABLET

.tablet-container{
	width: 90%;
	max-width: 600px;
	margin: 0.5em auto;
	overflow: hidden;
	position: relative;
	z-index: 1;

	.tablet-h2s{
		width: 70%;
		display: inline-block;
		margin: 1em auto 0 auto;
		margin-left: 10px;
	}

	.today-date-h2{
		width: 70%;
		margin: 0 auto;
		margin-left: 10px;
	}
}

.tablet-header{
	width: 100%;
	z-index: 0;
	position: relative;
}

.tablet-header-container{
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
	overflow: hidden;
}

.dropdown-container-outer{
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.dropdown-menu{
	z-index: 2;
	position: absolute;
	background-color: $header-color;
	width: 200px;
	padding: 0.5em;
	top: 48px;
	right: 0;
	display: none;
	border-top: 2px solid $outline-color;

	p{
		color: #fff;
		float: left;
		margin: 0.2em 0 0 0.8em;
	}
}

.dropdown-button-container{
	overflow: hidden;
	margin: 1.7em 0 1.2em 0;
}

.dropdown-button{
	width: 30px;
	float: left;
}



// ———————————————————————————————————————————————————————————

// DESKTOP

.desktop-header-container{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

.desktop-container{
	width: 90%;
	max-width: 1000px;
	margin: 2em auto;
	position: relative;
}




