

@import "breakpoints",
		"variables",
		"mobile";



.mobile-everything, .tablet-everything{
	overflow: hidden;
}

header{
	background-color: $constant-color;
	overflow: hidden;
}

h1{
	margin: 0.5em auto;
	font-size: 1.3em;
	font-weight: 300;
	text-align: center;
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	color: white;
}

.thumbnail-container{
	overflow: hidden;
}

.thumbnail{
	width: 45%;
	margin-top: 2em;
	box-sizing: border-box;
	float: left;
	border-radius: 15px;
	
	&:first-child{
		margin-right: 5%;
	}

	img{
		width: 100%;
	}
}

.thumbnail-title{
	margin: 0 auto;
	margin-top: 0.2em;
	text-align: center;
	color: white;
	font-weight: 200;
}

.science{
	border: 8px solid $science-color;
	background-color: $science-color;
}

.history{
	border: 8px solid $history-color;
	background-color: $history-color;
}

.math{
	border: 8px solid $math-color;
	background-color: $math-color;
}






.tablet-header{
	width: 100%;
}

.tablet-header-container{
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
}

.button-container{
	width: 30%;
	float: right;
}

.header-button{
	width: 48px;
	margin: 0 auto;
}

.tablet-container{
	width: 100%;
	max-width: 750px;
	margin: 2em auto;
	overflow: hidden;

	h2{
		width: 70%;
		display: inline-block;
		margin: 0 auto;
		margin-left: 10px;
		float: left;
	}
}

.lessons-container{
	width: 70%;
	float: left;
	display: inline-block;
	overflow: hidden;
}


.tablet-nav{
	width: 30%;
	float: left;
	margin: 0 auto;
}

.nav-button{
	width: 54px;
	margin: 0 auto;
	margin-bottom: 1em;
	top: 0;
}

.badges-icon{
	width: 58px;
	margin-left: -5px;
}

.completed-icon{
	width: 58px;
}












