.info-box, .paragraph-outer, .nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button, .dashboard-border, .desktop-nav, .lesson-border, .popdown-menu-inner, .popside-menu-inner {
  box-sizing: border-box;
  border: 2px solid #FBCC33;
  padding: 0.5em; }

.info-box {
  padding: 0; }

.paragraph-outer {
  border: 2px solid #5C3AD8; }

.nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button {
  background-color: #fff;
  color: #444444;
  text-align: center;
  padding: 0 0.2em; }
  .nav-button-container:hover, .bottom-lesson-button:hover, .top-lesson-button:hover, .complete-lesson-button:hover, .badge-info .back-button:hover {
    background-color: #fef2c9; }

.dashboard-text, .lesson-text, .paragraph-inner {
  width: 99%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #F0F0F0;
  line-height: 1.5; }

@media (min-width: 400px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.2em 0.5em; } }
@media (min-width: 590px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.5em 0.7em; } }
@media (min-width: 400px) {
  .mobile-everything {
    display: block; }

  .status-bar {
    background-color: #FFFFFF;
    color: #1F1E1E; }

  .status-bar-container {
    max-width: 400px; }

  .status-bar-type {
    margin: 0 auto;
    margin-left: 0.5em; }

  .status-bar-time {
    margin: 0 auto;
    margin-left: 17%; }

  .status-bar-health {
    margin: 0 auto;
    margin-right: 0.5em; }

  .thumbnail-container {
    width: 90%;
    max-width: 400px;
    margin: 0 auto; }

  .thumbnail {
    width: 45%; }
    .thumbnail:first-child {
      margin-right: 5%; }

  .dashboard-border {
    max-width: 420px;
    margin: 1em auto; }

  .dashboard-text p {
    margin-top: 0.2em; }

  .science {
    border: 8px solid #5C3AD8; }

  .history {
    border: 8px solid #57CE6E; }

  .math {
    border: 8px solid #1A92FF; }

  .english {
    border: 8px solid #C94B6F; }

  .planets-container {
    margin: 0 auto;
    margin-top: -1em;
    max-width: 400px; }
    .planets-container p {
      color: #444444; }

  .planet-row {
    margin: 1em auto 2em auto; }

  .lesson-border {
    padding: 0.5em; }

  .lesson-text {
    padding: 0.2em 0.8em; }

  .bottom-button-container {
    width: 90%;
    max-width: 400px; }

  .bottom-lesson-button {
    max-width: 190px; }

  .back-button {
    margin-left: 0;
    margin-right: 2.5%; }

  .continue-button {
    margin-left: 2.5%;
    margin-right: 0; }

  .you-did-it {
    width: 100%; }

  .solar-system-badge {
    width: 80%;
    max-width: 288px;
    margin: 1em auto;
    display: block; }

  .complete-lesson-button {
    width: 80%;
    max-width: 380px;
    margin: 1em auto; }

  .ind-badge {
    width: 70%; }

  .badges-row {
    margin: 2em auto 3em auto; }

  .badge-row-title {
    width: 85%;
    font-size: 1.2em; }

  .tablet-everything {
    display: none; }

  .desktop-everything {
    display: none; } }
@media (min-width: 590px) {
  .mobile-everything {
    display: none; }

  .tablet-everything {
    display: block; }

  .solar-system-everything {
    background-size: 250%;
    padding-bottom: 4em; }

  .status-bar {
    background-color: #1F1E1E;
    color: #fff; }

  .status-bar-container {
    max-width: 700px; }

  .status-bar-type {
    margin: 0 auto;
    margin-left: 2em; }

  .status-bar-time {
    margin: 0 auto;
    margin-left: 39%; }

  .status-bar-health {
    margin: 0 auto;
    margin-right: 2em; }

  .logo {
    width: 30%; }

  .header-button {
    width: 38px;
    float: right;
    margin: 0 auto;
    padding: 0.2em 0; }
    .header-button:last-child {
      margin-left: 2em; }

  .dashboard-border {
    width: 100%;
    margin-top: 2em;
    margin-left: 0;
    max-width: 500px; }

  .dashboard-text p {
    margin: 0.3em 0 0 0; }

  .thumbnail-container {
    max-width: 550px;
    margin: 0 auto; }

  .thumbnail {
    max-width: 210px; }

  .science {
    border: 12px solid #5C3AD8; }

  .history {
    border: 12px solid #57CE6E; }

  .math {
    border: 12px solid #1A92FF; }

  .english {
    border: 8px solid #C94B6F; }

  .planets-container {
    margin: 1em auto;
    max-width: 550px; }

  .planet-row {
    margin: 0.5em auto 3.5em auto; }

  .lesson-border {
    margin-top: -2em; }

  .bottom-button-container {
    width: 100%;
    max-width: 100%; }

  .bottom-lesson-button {
    max-width: 250px;
    height: 40px; }
    .bottom-lesson-button p {
      margin: 0.5em auto; }

  .solar-system-badge {
    width: 200px;
    margin-left: 15%; }

  .complete-lesson-button {
    width: 200px;
    height: 40px;
    margin: 2em auto;
    float: left; }
    .complete-lesson-button p {
      margin-top: 0.5em; }

  .astronaut-bg {
    padding-bottom: 1em;
    background-size: 150%; }

  .astronaut-popout {
    width: 490px;
    bottom: 0;
    right: -130px; }

  .ind-badge {
    width: 85%; }

  .badge-row-title {
    width: 100%;
    font-size: 1em; }

  .desktop-everything {
    display: none; } }
@media (min-width: 990px) {
  .tablet-everything {
    display: none; }

  .desktop-everything {
    display: block; }

  .solar-system-everything {
    background-size: 100%;
    padding-bottom: 1em; }

  .logo {
    width: 20%; }

  .header-button {
    width: 50%;
    box-sizing: border-box;
    margin-right: 2em; }
    .header-button:last-child {
      margin-left: auto; }
    .header-button img {
      width: 30px;
      float: right;
      padding: 0.5em 0.8em; }
    .header-button p {
      color: #fff;
      float: right; }

  .dashboard-border {
    width: 100%;
    margin: 2.2em 0 0 0;
    padding: 0.5em;
    max-width: 550px; }

  .dashboard-text {
    padding: 0.2em 0.8em; }
    .dashboard-text p {
      margin: 0.2em 0 0 0; }

  .thumbnail-container {
    width: 100%;
    margin-top: 1.5em;
    margin-left: 0; }

  .thumbnail {
    width: 38%;
    max-width: 38%;
    margin-bottom: 0 5% 1.2em 5%; }
    .thumbnail:first-child {
      margin-right: 6%;
      margin-left: 6%; }

  .thumbnail-title {
    margin: 0.5em auto 0.6em auto;
    font-size: 1em; }

  .science {
    border: 5px solid #5C3AD8; }

  .history {
    border: 5px solid #57CE6E; }

  .math {
    border: 5px solid #1A92FF; }

  .english {
    border: 5px solid #C94B6F; }

  .mini-science {
    border: 6px solid #5C3AD8; }

  .mini-history {
    border: 6px solid #57CE6E; }

  .mini-math {
    border: 6px solid #1A92FF; }

  .mini-english {
    border: 6px solid #C94B6F; }

  .planet-row {
    margin: 3em auto 6em auto;
    margin-left: -1.5em; }

  .lesson-border {
    margin-top: 2em;
    padding: 0.5em;
    width: 55%;
    margin: 0 2.5%;
    float: left; }

  .lesson-text {
    padding: 0.2em 0.8em; }

  .back-button {
    margin: 0; }

  .continue-button {
    margin: 0; }

  .solar-system-badge {
    margin-left: 18%; }

  .astronaut-bg {
    padding-bottom: 4em;
    background-size: 110%; }

  .astronaut-popout {
    width: 590px;
    bottom: -160px;
    right: -180px; }

  .badges-row {
    max-width: 550px;
    margin: 2em 0 3em 0; } }
.info-box, .paragraph-outer, .nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button, .dashboard-border, .desktop-nav, .lesson-border, .popdown-menu-inner, .popside-menu-inner {
  box-sizing: border-box;
  border: 2px solid #FBCC33;
  padding: 0.5em; }

.info-box {
  padding: 0; }

.paragraph-outer {
  border: 2px solid #5C3AD8; }

.nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button {
  background-color: #fff;
  color: #444444;
  text-align: center;
  padding: 0 0.2em; }
  .nav-button-container:hover, .bottom-lesson-button:hover, .top-lesson-button:hover, .complete-lesson-button:hover, .badge-info .back-button:hover {
    background-color: #fef2c9; }

.dashboard-text, .lesson-text, .paragraph-inner {
  width: 99%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #F0F0F0;
  line-height: 1.5; }

@media (min-width: 400px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.2em 0.5em; } }
@media (min-width: 590px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.5em 0.7em; } }
.info-box, .paragraph-outer, .nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button, .dashboard-border, .desktop-nav, .lesson-border, .popdown-menu-inner, .popside-menu-inner {
  box-sizing: border-box;
  border: 2px solid #FBCC33;
  padding: 0.5em; }

.info-box {
  padding: 0; }

.paragraph-outer {
  border: 2px solid #5C3AD8; }

.nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button {
  background-color: #fff;
  color: #444444;
  text-align: center;
  padding: 0 0.2em; }
  .nav-button-container:hover, .bottom-lesson-button:hover, .top-lesson-button:hover, .complete-lesson-button:hover, .badge-info .back-button:hover {
    background-color: #fef2c9; }

.dashboard-text, .lesson-text, .paragraph-inner {
  width: 99%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #F0F0F0;
  line-height: 1.5; }

@media (min-width: 400px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.2em 0.5em; } }
@media (min-width: 590px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.5em 0.7em; } }
.dashboard-border {
  width: 90%; }

.thumbnail-container {
  overflow: hidden; }

.thumbnail {
  margin-top: 1em;
  margin-bottom: 1em;
  box-sizing: border-box;
  float: left;
  border-radius: 15px; }
  .thumbnail img {
    width: 100%;
    border-radius: 15px 15px 0 0; }

.thumbnail-title {
  margin: 0 auto;
  margin-top: 0.2em;
  text-align: center;
  color: white;
  font-family: 'Arimo', "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 200; }

.science {
  background-color: #5C3AD8; }

.history {
  background-color: #57CE6E; }

.math {
  background-color: #1A92FF; }

.english {
  background-color: #C94B6F; }

.desktop-left-container {
  width: 66%;
  float: left; }

.desktop-nav {
  width: 34%;
  margin: 2em 0 0 0;
  padding: 0.5em;
  float: left; }

.nav-button-container {
  margin: 1em auto;
  float: left; }
  .nav-button-container img {
    width: 35px;
    float: left; }
  .nav-button-container p {
    margin: 0 auto;
    padding: 0.5em 0.5em 0 0.5em;
    float: left; }

.nav-badges-container, .nav-completed-container {
  width: 99%;
  margin: 0.5em auto; }
  .nav-badges-container h2, .nav-completed-container h2 {
    margin-bottom: 1em; }

.nav-badges-container {
  margin-bottom: 6em; }

.nav-list {
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0;
  border-top: 1px solid #F59F06;
  border-bottom: 1px solid #F59F06;
  overflow: hidden; }
  .nav-list img {
    width: 30%;
    float: left;
    margin-left: 3%; }
  .nav-list .mini-thumbnail {
    box-sizing: border-box;
    border-radius: 10px; }

.desktop-list-container {
  width: 99%;
  margin-left: 0;
  overflow: hidden;
  position: relative; }

.list-item-container {
  width: 100%;
  margin: 1em auto 2.5em auto; }

.list-item {
  width: 90%;
  margin: 1em auto;
  margin-left: 0;
  padding: 2em 0.5em;
  position: relative; }

.list-h3 {
  width: 94%; }

.list-science {
  background: url("../images/space-thumbnail.jpg") center center no-repeat;
  background-size: cover; }
  .list-science:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #5C3AD8, #444444);
    opacity: .6;
    z-index: 1; }

.list-history {
  background: url("../images/history-thumbnail.jpg") center center no-repeat;
  background-size: cover; }
  .list-history:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #57CE6E, #444444);
    opacity: .6;
    z-index: 1; }

.list-math {
  background: url("../images/money-thumbnail.jpg") center center no-repeat;
  background-size: cover; }
  .list-math:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #1A92FF, #444444);
    opacity: .6;
    z-index: 1; }

.list-item-title {
  font-size: 2em;
  margin: 0;
  color: #fff;
  position: absolute;
  top: 20%;
  z-index: 2; }

.no-lessons-text {
  color: #5e5e5e; }

.info-box, .paragraph-outer, .nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button, .dashboard-border, .desktop-nav, .lesson-border, .popdown-menu-inner, .popside-menu-inner {
  box-sizing: border-box;
  border: 2px solid #FBCC33;
  padding: 0.5em; }

.info-box {
  padding: 0; }

.paragraph-outer {
  border: 2px solid #5C3AD8; }

.nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button {
  background-color: #fff;
  color: #444444;
  text-align: center;
  padding: 0 0.2em; }
  .nav-button-container:hover, .bottom-lesson-button:hover, .top-lesson-button:hover, .complete-lesson-button:hover, .badge-info .back-button:hover {
    background-color: #fef2c9; }

.dashboard-text, .lesson-text, .paragraph-inner {
  width: 99%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #F0F0F0;
  line-height: 1.5; }

@media (min-width: 400px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.2em 0.5em; } }
@media (min-width: 590px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.5em 0.7em; } }
.solar-system-everything {
  background-image: url("../images/milky-way.jpg");
  background-size: cover;
  background-position: center; }

.lesson-text p {
  margin-top: 0.2em; }

.bottom-button-container {
  margin: 1em auto 0 auto;
  overflow: hidden; }

.bottom-lesson-button {
  width: 45%;
  margin: 0.2em auto; }

.top-container {
  width: 99%;
  margin: 0 auto;
  overflow: hidden; }

.top-lesson-button {
  width: 20%; }

.back-button {
  float: left; }

.continue-button {
  float: right; }

.planets-container {
  width: 90%;
  overflow: hidden; }
  .planets-container p {
    color: #fff; }

.planet-row {
  width: 110%;
  height: 100px;
  overflow: visible;
  position: relative; }

.ind-planet-container-outer {
  width: 10%;
  margin: 1em 10%;
  float: left; }
  .ind-planet-container-outer p {
    margin: 0 auto;
    text-align: center; }

.ind-planet-container-inner {
  position: absolute;
  bottom: 0; }

.planet {
  margin: 0.5em auto; }

.info-box, .paragraph-outer, .nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button, .dashboard-border, .desktop-nav, .lesson-border, .popdown-menu-inner, .popside-menu-inner {
  box-sizing: border-box;
  border: 2px solid #FBCC33;
  padding: 0.5em; }

.info-box {
  padding: 0; }

.paragraph-outer {
  border: 2px solid #5C3AD8; }

.nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button {
  background-color: #fff;
  color: #444444;
  text-align: center;
  padding: 0 0.2em; }
  .nav-button-container:hover, .bottom-lesson-button:hover, .top-lesson-button:hover, .complete-lesson-button:hover, .badge-info .back-button:hover {
    background-color: #fef2c9; }

.dashboard-text, .lesson-text, .paragraph-inner {
  width: 99%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #F0F0F0;
  line-height: 1.5; }

@media (min-width: 400px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.2em 0.5em; } }
@media (min-width: 590px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.5em 0.7em; } }
@media (min-width: 400px) {
  .mercury {
    width: 35px; }

  .venus, .earth, .mars, .uranus, .neptune {
    width: 50px; }

  .jupiter {
    width: 70px; }

  .saturn {
    width: 80px; }

  .inner-jupiter {
    margin-left: -7px; }

  .inner-saturn {
    margin-left: -17px; }

  .inner-neptune {
    margin-left: -7px; } }
@media (min-width: 590px) {
  .mercury {
    width: 55px; }

  .venus, .earth, .mars, .uranus, .neptune {
    width: 70px; }

  .jupiter {
    width: 90px; }

  .saturn {
    width: 120px; }

  .inner-jupiter {
    margin-left: -7px; }

  .inner-saturn {
    margin-left: -17px; }

  .inner-neptune {
    margin-left: 1px; } }
@media (min-width: 990px) {
  .mercury {
    width: 75px; }

  .venus, .earth, .mars, .uranus, .neptune {
    width: 90px; }

  .jupiter {
    width: 120px; }

  .saturn {
    width: 150px; }

  .inner-jupiter {
    margin-left: -10px; }

  .inner-saturn {
    margin-left: -17px; }

  .inner-neptune {
    margin-left: 1px; } }
.info-box, .paragraph-outer, .nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button, .dashboard-border, .desktop-nav, .lesson-border, .popdown-menu-inner, .popside-menu-inner {
  box-sizing: border-box;
  border: 2px solid #FBCC33;
  padding: 0.5em; }

.info-box {
  padding: 0; }

.paragraph-outer {
  border: 2px solid #5C3AD8; }

.nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button {
  background-color: #fff;
  color: #444444;
  text-align: center;
  padding: 0 0.2em; }
  .nav-button-container:hover, .bottom-lesson-button:hover, .top-lesson-button:hover, .complete-lesson-button:hover, .badge-info .back-button:hover {
    background-color: #fef2c9; }

.dashboard-text, .lesson-text, .paragraph-inner {
  width: 99%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #F0F0F0;
  line-height: 1.5; }

@media (min-width: 400px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.2em 0.5em; } }
@media (min-width: 590px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.5em 0.7em; } }
.you-did-it-container, .solar-system-badge-container {
  width: 90%;
  margin: 2em auto;
  overflow: hidden; }
  .you-did-it-container .paragraph, .solar-system-badge-container .paragraph {
    width: 85%;
    margin: 0 auto;
    line-height: 1.5; }

.paragraph-outer {
  width: 65%;
  margin-top: 0.5em; }

.top-paragraph p {
  width: 95%; }

.you-did-it-container {
  margin-bottom: 3em;
  z-index: 1; }

.desktop-you-did-it {
  width: 80%;
  margin: 0 auto;
  position: relative; }

.you-did-it {
  font-size: 1.8em;
  margin-top: 0;
  text-align: center; }

.you-did-it-small {
  text-align: center;
  margin-bottom: 0.2em; }

.you-did-it-big {
  text-align: left;
  font-size: 2em; }

.mobile-astronaut-badge {
  width: 80%;
  margin: 1em auto;
  display: block; }

.badge-header {
  width: 65%; }

.complete-lesson-button {
  margin: 1em auto; }

.astronaut-bg {
  background-image: url("../images/lunar-surface.jpg");
  background-size: cover;
  background-position: center; }
  .astronaut-bg h2 {
    color: #fff; }

.astronaut-popout {
  z-index: 2;
  float: right;
  position: absolute; }

.info-box, .paragraph-outer, .nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button, .dashboard-border, .desktop-nav, .lesson-border, .popdown-menu-inner, .popside-menu-inner {
  box-sizing: border-box;
  border: 2px solid #FBCC33;
  padding: 0.5em; }

.info-box {
  padding: 0; }

.paragraph-outer {
  border: 2px solid #5C3AD8; }

.nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button {
  background-color: #fff;
  color: #444444;
  text-align: center;
  padding: 0 0.2em; }
  .nav-button-container:hover, .bottom-lesson-button:hover, .top-lesson-button:hover, .complete-lesson-button:hover, .badge-info .back-button:hover {
    background-color: #fef2c9; }

.dashboard-text, .lesson-text, .paragraph-inner {
  width: 99%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #F0F0F0;
  line-height: 1.5; }

@media (min-width: 400px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.2em 0.5em; } }
@media (min-width: 590px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.5em 0.7em; } }
.badges-row {
  overflow: hidden; }

.badge-row-title {
  margin: 0 auto;
  padding-bottom: 0.5em; }

.badges-container {
  width: 93%;
  margin: 1em auto;
  overflow: hidden; }

.badge {
  width: 40%;
  margin: 0.5em 5%;
  float: left; }

.shelf {
  width: 98%;
  margin: 0 auto;
  display: block; }

.science-type {
  color: #5C3AD8;
  border-bottom: 2px solid #5C3AD8; }

.math-type {
  color: #1A92FF;
  border-bottom: 2px solid #1A92FF; }

.history-type {
  color: #57CE6E;
  border-bottom: 2px solid #57CE6E; }

.english-type {
  color: #C94B6F;
  border-bottom: 2px solid #C94B6F; }

.mobile-badge-on-display {
  display: none; }

.ind-badge-container {
  width: 90%;
  margin: 0 auto;
  text-align: center; }
  .ind-badge-container h3 {
    color: #F59F06; }

.ind-badge {
  margin: 0 auto;
  display: block; }

.badge-info {
  width: 85%;
  margin: 0 auto; }
  .badge-info .back-button {
    width: 35%;
    height: 40px;
    padding: 0 1em; }
    .badge-info .back-button p {
      margin: 0.5em auto; }

.info-box {
  width: 100%;
  margin: 0.5em auto;
  overflow: hidden; }

.box-left {
  width: 38%;
  float: left;
  margin: 0;
  background-color: #5C3AD8; }
  .box-left p {
    text-align: center;
    color: #fff;
    letter-spacing: 0.8px; }

.box-right {
  width: 62%;
  float: left;
  margin: 0;
  background-color: #fff; }
  .box-right p {
    margin-left: 1em; }

.popdown-menu-outer {
  width: 99%;
  max-width: 725px;
  margin: 0 auto;
  margin-top: -80px;
  padding: 0;
  z-index: 2;
  position: relative;
  display: none; }

.popdown-menu-inner {
  overflow: hidden;
  background-color: #F0F0F0;
  position: absolute;
  top: 595%;
  left: 0.5%; }

.popdown-left {
  width: 45%;
  float: left; }
  .popdown-left img {
    width: 85%;
    display: block;
    margin: 0 auto; }
  .popdown-left h3 {
    width: 85%;
    text-align: center;
    margin: 0 auto; }

.popdown-right {
  width: 55%;
  float: left;
  box-sizing: border-box;
  padding-top: 0.5em; }
  .popdown-right h2 {
    width: 85%;
    margin-bottom: 1em; }

.popside-menu-outer {
  width: 70%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: -80px;
  padding: 0;
  z-index: 2;
  position: relative;
  display: none; }

.popside-menu-inner {
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #F0F0F0;
  position: absolute;
  top: 180%;
  left: -8%; }
  .popside-menu-inner img {
    width: 85%;
    margin: 0 auto;
    display: block; }
  .popside-menu-inner h2, .popside-menu-inner h3 {
    text-align: center; }
  .popside-menu-inner h3 {
    margin-bottom: 3em; }
  .popside-menu-inner .badge-info {
    width: 90%; }
    .popside-menu-inner .badge-info p {
      font-size: 0.9em; }

.badge-back {
  margin-top: 0.8em; }

.close-click-desktop p {
  padding-top: 0.2em; }

.info-box, .paragraph-outer, .nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button, .dashboard-border, .desktop-nav, .lesson-border, .popdown-menu-inner, .popside-menu-inner {
  box-sizing: border-box;
  border: 2px solid #FBCC33;
  padding: 0.5em; }

.info-box {
  padding: 0; }

.paragraph-outer {
  border: 2px solid #5C3AD8; }

.nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button {
  background-color: #fff;
  color: #444444;
  text-align: center;
  padding: 0 0.2em; }
  .nav-button-container:hover, .bottom-lesson-button:hover, .top-lesson-button:hover, .complete-lesson-button:hover, .badge-info .back-button:hover {
    background-color: #fef2c9; }

.dashboard-text, .lesson-text, .paragraph-inner {
  width: 99%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #F0F0F0;
  line-height: 1.5; }

@media (min-width: 400px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.2em 0.5em; } }
@media (min-width: 590px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.5em 0.7em; } }
.popdown-carrot {
  z-index: 3;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  width: 76px;
  height: 76px; }
  .popdown-carrot:after {
    position: absolute;
    content: "";
    top: 559%;
    left: 235%;
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
    border-bottom: 54px solid #F0F0F0; }
  .popdown-carrot > div {
    width: 0;
    position: relative;
    top: 550%;
    left: 231%;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid #FBCC33; }

.popside-carrot {
  z-index: 3;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  width: 76px;
  height: 76px; }
  .popside-carrot:after {
    position: absolute;
    content: "";
    top: 480%;
    left: -109%;
    border-top: 36px solid transparent;
    border-bottom: 36px solid transparent;
    border-right: 54px solid #F0F0F0; }
  .popside-carrot > div {
    width: 0;
    position: relative;
    top: 475%;
    left: -118%;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 60px solid #FBCC33; }

.info-box, .paragraph-outer, .nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button, .dashboard-border, .desktop-nav, .lesson-border, .popdown-menu-inner, .popside-menu-inner {
  box-sizing: border-box;
  border: 2px solid #FBCC33;
  padding: 0.5em; }

.info-box {
  padding: 0; }

.paragraph-outer {
  border: 2px solid #5C3AD8; }

.nav-button-container, .bottom-lesson-button, .top-lesson-button, .complete-lesson-button, .badge-info .back-button {
  background-color: #fff;
  color: #444444;
  text-align: center;
  padding: 0 0.2em; }
  .nav-button-container:hover, .bottom-lesson-button:hover, .top-lesson-button:hover, .complete-lesson-button:hover, .badge-info .back-button:hover {
    background-color: #fef2c9; }

.dashboard-text, .lesson-text, .paragraph-inner {
  width: 99%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #F0F0F0;
  line-height: 1.5; }

@media (min-width: 400px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.2em 0.5em; } }
@media (min-width: 590px) {
  .dashboard-text, .lesson-text, .paragraph-inner {
    padding: 0.5em 0.7em; } }
.mercury {
  animation: mercury-small 4s ease-in-out;
  animation-iteration-count: infinite; }

.neptune, .mars, .venus {
  animation: floating-fast 3s ease-in-out;
  animation-iteration-count: infinite; }

.earth, .jupiter {
  animation: floating-reverse 2s ease-in-out;
  animation-iteration-count: infinite; }

.uranus {
  animation: tilting-right 3s ease-in-out;
  animation-iteration-count: infinite; }

.saturn {
  animation: tilting-left 3s ease-in-out;
  animation-iteration-count: infinite; }

@keyframes mercury-small {
  0% {
    width: 50%; }
  20% {
    width: 40%; }
  30% {
    width: 60%; }
  70% {
    width: 60%; }
  100% {
    width: 50%; } }
@keyframes floating-fast {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(-10%); }
  100% {
    transform: translateY(0%); } }
@keyframes floating-reverse {
  0% {
    transform: transalteY(0%); }
  20% {
    transform: transalteY(-10%); }
  50% {
    transform: translateY(2%);
    transform: transalteZ(-5%); }
  100% {
    transform: transalteY(0%); } }
@keyframes tilting-right {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(45deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes tilting-left {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-20deg); }
  100% {
    transform: rotate(0deg); } }
.mobile-everything, .tablet-everything, .desktop-everything {
  overflow: hidden; }

.bold {
  font-weight: 700;
  letter-spacing: 0; }

.italic {
  font-style: italic; }

body {
  color: #444444;
  letter-spacing: 0.5px; }

header {
  background-color: #F59F06;
  overflow: hidden; }

h1 {
  margin: 0.7em auto;
  font-size: 1.3em;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Montserrat', "Trebuchet MS", Helvetica, sans-serif;
  color: #fff; }

h2 {
  margin: 0.2em auto 0 auto;
  font-family: 'Montserrat', "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.3em;
  color: #F59F06; }

h3 {
  font-size: 1em;
  color: #F59F06; }

a {
  text-decoration: none; }

.status-bar {
  height: 25px; }

.status-bar-container {
  width: 99%;
  margin: 0 auto; }

.status-bar-type, .status-bar-time, .status-bar-health {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  padding-top: 5px; }

.status-bar-type {
  float: left; }
  .status-bar-type img {
    width: 58px; }

.status-bar-time {
  float: left; }

.status-bar-health {
  float: right; }
  .status-bar-health img {
    width: 25px; }

.logo {
  display: inline-block;
  float: left; }
  .logo img {
    width: 100%; }

.button-container {
  width: 30%;
  float: right; }

.mobile-header {
  width: 100%;
  height: 88px;
  border-bottom: 1px solid #999999;
  position: fixed;
  top: 0; }

.phone-container {
  margin: 6em auto;
  max-width: 420px;
  max-height: 50%;
  overflow: scroll; }

.mobile-footer {
  width: 100%;
  height: 68px;
  position: fixed;
  bottom: 0;
  border-top: 2px solid #F59F06;
  background-color: #fff; }

.footer-container {
  width: 95%;
  max-width: 400px;
  margin: 0 auto; }

.footer-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  float: left;
  margin: 0.5em 6.8%; }

.tablet-container {
  width: 90%;
  max-width: 550px;
  margin: 0.5em auto;
  overflow: hidden;
  position: relative;
  z-index: 1; }
  .tablet-container .tablet-h2s {
    width: 70%;
    display: inline-block;
    margin: 1em auto 0 auto;
    margin-left: 10px; }
  .tablet-container .today-date-h2 {
    width: 70%;
    margin: 0 auto;
    margin-left: 10px; }

.tablet-header {
  width: 100%;
  z-index: 0;
  position: relative; }

.tablet-header-container {
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  overflow: hidden; }

.dropdown-menu {
  z-index: 2;
  position: absolute;
  background-color: #F59F06;
  width: 200px;
  padding: 0.5em;
  top: 8%;
  right: 0;
  display: none; }
  .dropdown-menu p {
    color: #fff;
    float: left;
    margin: 0.4em 0 0 0.5em; }

.dropdown-button-container {
  overflow: hidden;
  margin: 1.7em 0 1em 0; }

.dropdown-button {
  width: 30px;
  float: left; }

.desktop-header-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden; }

.desktop-container {
  width: 90%;
  max-width: 1000px;
  margin: 2em auto;
  position: relative; }

/*# sourceMappingURL=main.css.map */
